# Force GitHub to recognize Python files
*.py linguist-language=Python

# Treat these file types as vendored (they will not count towards the language statistics)
*.html linguist-vendored
*.tex linguist-vendored
*.md linguist-vendored
*.json linguist-vendored
*.csv linguist-vendored
*.xml linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored
*.lock linguist-vendored
*.toml linguist-vendored
*.ini linguist-vendored
*.txt linguist-vendored
*.spec linguist-vendored
